@model CS4540_A2.Models.CourseFeedback

@{
    ViewData["Title"] = "Create";
}

<h1>Create Course Feedback Survey</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cId" class="control-label">Course Name</label>
                <select asp-for="cId" class ="form-control" asp-items="ViewBag.cId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="AvgCourseEffectiveRate" class="control-label"></label>
                <input asp-for="AvgCourseEffectiveRate" class="form-control" />
                <span asp-validation-for="AvgCourseEffectiveRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgCourseOrganizedRate" class="control-label"></label>
                <input asp-for="AvgCourseOrganizedRate" class="form-control" />
                <span asp-validation-for="AvgCourseOrganizedRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgCourseObjMetRate" class="control-label"></label>
                <input asp-for="AvgCourseObjMetRate" class="form-control" />
                <span asp-validation-for="AvgCourseObjMetRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgCourseOverallRate" class="control-label"></label>
                <input asp-for="AvgCourseOverallRate" class="form-control" />
                <span asp-validation-for="AvgCourseOverallRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>*@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
